.cust-toggle{font-size: 30px;font-weight: bold;cursor:pointer;}
.cust-toggle.plus{color: green;}
.cust-toggle.minus{color: red;}
.row-titles{background-color: #EDEDED;}
/* .my-account-content table{display: block; overflow-x: auto;    white-space: nowrap;} */
.my-account-content table .content_value td table tbody tr > *{padding:0.8em 1em;}
form.priority_form{display:inline-flex; align-items: center;}
form input#from-date, form input#to-date{max-width: 180px; margin: 0 15px;}
form input[type='submit']{margin: 0px;}
a.btn_export_excel{display: inline-block; margin:0 20px 0 0; background: #4E9CAF; padding: 10px; text-align: center; border-radius: 5px; color: white; font-weight: bold; line-height: 25px; text-decoration: none!important;}
button#obligoSubmit{float: right; border: 1px solid #999999; background-color: red; color: #fff;}
.my-account-content span.amount{font-weight: normal; color: #666;}
.my-account-content table th{background-color: #EDEDED;}
.my-account-content table .row-titles td {font-weight: bold;}
.my-account-content table tr.sub_table_title, .my-account-content table tr.sub_table_title td { font-size: 20px; border: 0; color: red; text-decoration: underline;}
td.product-quantity-return input.qtty_return:disabled{background-color: #c1bcbc;}
/* #select_users +.select2-container{height: 30px;} */
#select_users +.select2-container .select2-selection--multiple{min-height: 55px;}
div.user-detail-holder {overflow-x: auto;}
table.priority-report-table {table-layout: fixed; border-spacing: 10px; width: 108%;}
/* table.priority-report-table td {white-space: nowrap; } */
table.priority-report-table td, th{	padding: 10px; text-align: center; font-size: 15px;}
table.table-quote, table.table-orders{border-collapse: initial;}
.product-row {white-space: wrap!important;  width: 200px;}
.row-sub-titles {font-weight: bold;}

button.btn_quote {position: relative;}
.btn_quote.loader_active .loader_wrap{display: block; background-color: rgba(255,255,255,0.6);}
.btn_quote.loader_active:after { content: none;}
.loader_wrap {position: absolute; top: 0; right: 0; width: 100%; height: 100%; display: none; z-index: 1;}
.loader_wrap.active { display: block;}
.loader_wrap .loader_spinner {width: 100%; justify-content: center; display: flex; height: 100%; align-items: center;}
.line {display: inline-block; width: 10px; height: 10px; border-radius: 10px; background-color: #bdbdbd; margin: 1.7px;}

.loader_spinner .line:nth-last-child(1) {
animation: loadingC 0.7s 0.1s linear infinite;
}
.loader_spinner .line:nth-last-child(2) {
animation: loadingC 0.7s 0.2s linear infinite;
}
.loader_spinner .line:nth-last-child(3) {
animation: loadingC 0.7s 0.3s linear infinite;
}

@keyframes loadingC {
0% {transform: translate(0, 0);}
50% {transform: translate(0, 15px);}
100% {transform: translate(0, 0);}
}